##
## Fonoster's main API
##

APISERVER_ENDPOINT=api.fonoster.net
ALLOW_INSECURE=false
CONFIG=/opt/fonoster

##
## Compilation time variables
##

APP_URL=https://console.fonoster.net
APP_BASE_PATH=/metrics

# Redis DB
DS_HOST=localhost
DS_PORT=55001
DS_SECRET=redispw

# Github credentials for monthly revenue
GITHUB_ACCESS_TOKEN=

# Private secret key for stripe payments
STRIPE_SECRET_KEY=
