##
## Fonoster's main API
##

APISERVER_ENDPOINT=api.fonoster.net
ALLOW_INSECURE=false
CONFIG=/opt/fonoster

##
## Compilation time variables
##

APP_URL=https://console.fonoster.net
APP_BASE_PATH=/metrics

# Redis DB
DS_HOST=localhost
DS_PORT=55001
DS_SECRET=redispw

# Routr Connection
SIPPROXY_API_HOST=localhost
SIPPROXY_API_PORT=4567
SIPPROXY_API_USERNAME=admin
SIPPROXY_API_SECRET=
